/* button */
.sign button {
  border: 2px solid #ffffff;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #ffffff;
}

.sign button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #ffffff;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.sign button:hover::before {
  width: 105%;
}

.sign button:hover {
  color: #111;
}
